/* .carousel-item{
    height: 100vh;
    min-height: 300px;
    background: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  } */
  .carousel-item img
{
    height: 400px;
}