nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightseagreen;
    height: 60px;
    position: relative;
    width: 100%;
    margin-left: 0;
    
}
  
nav ul  li {
    float: left;
    padding-top: 10px;
    font-size: 20px;
}

  
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
nav li a:hover:not(.active) {
    background-color: grey;
    height: 100%;
    
    
}
  
.active {
    background-color: gray;
    height: 100%;
    
}
#home{
    background: linear-gradient(rgba(0, 1, 0, 0), #005a96);
    background-position: center;
    height: 100vh;
    margin-top: 0;
    top: 0;
    width: 100%;
}
.text{
    text-align: center;
    padding-top: 60px;
    color: red;
}
.text h1{
    font-size: 90px;
}
.brand h1
{
    font-size: 90px;
    text-align: center;
    padding-top: 60px;
    color: red;
}
#description{
    background: url(images/background.jpg);
    background-size: contain;
    height: 100vh;
    margin-top: -50px;
}
.description-text{
    text-align: center;
    padding-bottom: 70px;
}
.description-text h1{
    margin: auto;
    font-size: 20px;
    color: wheat;
    font-weight: bold ;
    position: relative;
    z-index: 1;
    display: inline-block ;
    margin-top: 20px;
}
.images{
    margin-left: 50px;
}
#items {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin-left: 50px;
    margin-top: 60px;
  }
  
#items td, #items th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
#items tr:nth-child(even){background-color: #f2f2f2;}
  
#items tr:hover {background-color: #ddd;}
  
 #items th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: skyblue;
    color: white;
}
.title-text{
    text-align: center;
    padding-bottom: 70px;
}
.title-text p{
    margin: auto;
    font-size: 20px;
    color: #009688;
    font-weight: bold ;
    position: relative;
    z-index: 1;
    display: inline-block ;
    

} 
.title-text p::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#019587,#fff);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}
#partners{
    width: 100%;
    padding: 70px;
    background: lightgray;
    position: relative;
    
}
.partner-box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.single-partner{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: white;
    position: relative;

}
.single-partner img{
     width: 100%;
     border-radius: 7px;
}
img:hover{
    opacity: 0.4;
    background: linear-gradient(rgba(0,0,0,0.5),#009688);
}
@media screen and (max-width: 770px){
    .single-service{
        flex-basis: 100%;
        margin-bottom: 12px;

    }
}
/*footer*/
#footer{
    padding: 100px 0 20px;
    background: skyblue;
    background-size: 100%;

}
.footer-row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-left,.footer-right{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 2opx;
}
.footer-right{
    text-align: right;  
}
.footer-center
{
    text-align: center;
}
.footer-row h1{
    margin: 10px 0;
}
.footer-row p{
    line-height: 35px;
}
.footer-left .fa,.footer-right .fa{
    font-size: 20px;
    color: #009688;
    margin: 10px;
}

